*{
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    min-height:100vh;
    background-image: url("https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=2000");
    background-size: cover;
}
main{
    display:flex;
    width:55%;
    min-width:460px;
    background-color: white;
    border:1px solid #ddd;
    border-radius:16px;
    box-shadow: 5px 5px 5px rgb(139, 139, 173);
    padding:16px;
    flex-wrap: wrap;
}
.left-container{
    width:30%;
 /*   border:1px solid purple; */
}
.right-container{
    width:70%;
    /* border:1px solid green; */
    max-width:600px;
    min-width:420px;

}
#grid-container{
    border:4px solid blue;
    width:100%;
    display:grid;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    border:1.5px solid #ddd;
    border-radius:4px;
    box-shadow: 4px 4px 4px rgb(139, 139, 173);
    max-height:599px;

}
.grid-item{
    padding:50%;
    /* border:0.1px solid red; */
}
.header{
    display:flex;
    font-size:1.0em;
    font-weight: bold;
}
.title{
    width:90%;
    display:flex;
    align-items: center;
    /* border:1px solid blue; */
}
.svg{
    width:10%;
    /* border:1px solid red; */
    display: flex;
    justify-content: flex-end;
    padding-bottom:5px;
}
.svg > img{
    width:20px;
}
.svg > img:hover{
    cursor: pointer;
}
.message{
    padding:16px;
   font-size:1.5em;
}
.section-title{
    text-indent: 5px;
    font-size:0.90em;
    font-weight: bold;
    margin-bottom:5px;
}
.name > p {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.name >p:hover{
    cursor: pointer;
    color:#4e4e4e;
}

.name{
    padding-left:10px;
    margin-bottom:10px;
}
.name:hover{
    cursor: pointer;
    color:#4e4e4e;
}

.color-container{
    display:flex;
    width:90%;
    /* border:1px solid blue; */
    font-size:0.90em;
    padding:12px;
    font-weight: bold;
    border:1px solid #ddd;
    box-shadow: 4px 4px 4px rgb(139, 139, 173);
    border-radius:8px;
    margin-bottom:16px;
}
.colors{
    width:75%;
    max-width:200px;
    display:flex;
    flex-wrap: wrap;
}
.colors > button{
    height:20px;
    width:20px;
    border-radius: 50%;
    margin:3px;
    border:none;
}
button:hover{
    cursor: pointer;
}
.color-picker{
    width:25px;
    height:25px;
    overflow: hidden;
    border-radius:100%;
    margin-top:12px;
}

input[type='color'] {
    width:100%;
    height:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    transform: scale(3.1);
}
input[type='color']:hover{
    cursor: pointer;
}
#red{
    background-color: red;
}
#darkred{
    background-color: #8b0000;
}
#blue{
    background-color: blue;
}
#darkblue{
    background-color: #00008b;
}
#green{
    background-color: #008000;
}
#darkgreen{
    background-color: #006400;
}
#yellow{
    background-color: #ffff00;
}
#darkyellow{
    background-color: #caca14;
}
#purple{
    background-color: #800080;
}
#darkpurple{
    background-color: #570157;
}
#gray{
    background-color: #808080;
}
#black{
    background-color: #000000;
}
#orange{
    background-color: orange;
}
#darkorange{
    background-color: #d17504;
}
.toolbar-container{
    display:flex;
    flex-wrap: wrap;
    width:90%;
    border:1px solid #ddd;
    box-shadow: 4px 4px 4px rgb(139, 139, 173);
    border-radius:8px;
    color:#4d5658;
    font-size:0.75em;
    text-align: center;
    padding:12px;
    margin-bottom:16px;

}

button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:8px;
    max-width:55px;
    max-height:55px;
    border:none;
    margin-bottom:2px;
}
.toolbar-container > div > button:hover{
    border:1px solid #ddd;
    transform: scale(1.1);
}
.icon > img{
    max-width:65px;
}
.rainbow > img{
    max-width:90px;
}
.rainbow{
    margin-left:5px;
}
.draw >img{
    max-width:77px;
}
input[type="range"]{
    width:70%;
    margin-left:35px;
}
input[type="range"]:hover{
    cursor: pointer;
}
.size-display{
    width:90%;
    text-align:center;
    margin-right:42px;
    font-size: 1.25em;
    margin-bottom:10px;
}
@media screen and (max-width:1200px) {
    .left-container{
        width:75%;
    }
}

@media screen and (max-width:420px) {
    main{
        margin: 0 auto;
        min-height:98vh;
        min-width:99%;
        padding-top:35px;
    }
    .right-container{
        min-width:80%;
    }
    .right-container{
        width:100%;
    }
    #orange, #darkorange{
    display:none;
   }
   .color-container{
    align-items: center;
   }
   .color-picker{
    margin-bottom:12px;
   }
   .toolbar-container{
    padding:6px;
   }
   .size-display{
    width:80%;
    text-align: center;
    text-indent:0px;
   }
   .header{
    margin-bottom:20px;
   }
   .message{
    display:none;
   }
   input[type="range"]{
    width:85%;
    margin-left:20px;
    margin-bottom:10px;
   }
}
